*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#root > div {
  display: grid;
  grid-template-rows: 10% 85% 5%;
  height: 100vh;
}

/********** (Main) Header **********/

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: pink;
}

/********** (Main) Main **********/

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 15% 85%;
  height: 90%;
  width: 40%;
  background-color: bisque;
}

/********** (Main) Footer **********/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

/********** (Content) Header **********/

.content header {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: blue;
}

/********** (Content) Section **********/

.content section {
  background-color: chartreuse;
}

.content section textarea {
  display: block;
}

/********** (Content) Aside **********/

.content aside {
  background-color: darkgoldenrod;
}

.content img {
  height: auto;
  width: 100%;
  padding: .5rem;
}

#email {
  word-wrap: break-word;
}